{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block page_content %}

    <div class="content">
        <div id="starfield"></div>
        <div class="mode">
            <div>8-bit</div>
            <div class="selected">16-bit</div>
            <div>Manual</div>
        </div>
        <div class="manual">
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
            <div class="stuff zerg"></div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/starscroll.js') }}"></script>
    <script src="{{ asset('js/mousewheel.min.js') }}"></script>
    <script src="{{ asset('js/mCustomScrollbar.min.js') }}"></script>
    <script src="{{ asset('js/controls.js') }}"></script>
    <script type="text/javascript">
        //$(".starfield").starscroll(bit-mode,layers,stars,dimension,speed,colour,varience,animate);
    </script>
{% endblock %}