{% extends 'layout.html.twig' %}

{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block page_content %}

    <div class="wrapper">
        <div id="starfield"></div>
        <div class="mode">
            <div>8-bit</div>
            <div class="selected">16-bit</div>
            <div>Manual</div>
        </div>
        <div class="manual scroll">
            <span>
                <div class="article">
                    <div class="flex">
                        <div>
                            <div class="title">Titre</div>
                            <div class="date">lundi 01 octobre</div>
                        </div>
                        <div class="username violet">Léo</div>
                    </div>
                    <div class="content">
                        Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
                    </div>
                    <div class="img"></div>

                    <div class="sondage">
                        <div class="title">Le lait, avant ou après les céréales ?</div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox1"/>
                                <label for="checkbox1">
                                    Avant
                                    <span class="votes violet">+ 0</span>
                                </label>
                            </div>
                        </div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox2"/>
                                <label for="checkbox2">
                                    Apres
                                    <span class="votes violet">+ 5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="like">
                        <span class="fa fa-heart"></span>
                        12
                    </div>

                    <div class="button-block">
                        <a class='like-button'>
                            <span class='like-icon'>
                                <div class='heart-animation-1'></div>
                                <div class='heart-animation-2'></div>
                            </span>
                            J'aime
                        </a>
                        <button class="button btn-light">
                            <span class="fa fa-comments"></span>
                            Commenter
                        </button>
                    </div>
                </div>
                <div class="article">
                    <div class="flex">
                        <div>
                            <div class="title">Titre</div>
                            <div class="date">lundi 01 octobre</div>
                        </div>
                        <div class="username violet">Léo</div>
                    </div>
                    <div class="content">
                        Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
                    </div>
                    <div class="img"></div>

                    <div class="sondage">
                        <div class="title">Le lait, avant ou après les céréales ?</div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox1"/>
                                <label for="checkbox1">
                                    Avant
                                    <span class="votes violet">+ 0</span>
                                </label>
                            </div>
                        </div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox2"/>
                                <label for="checkbox2">
                                    Apres
                                    <span class="votes violet">+ 5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="like">
                        <span class="fa fa-heart"></span>
                        12
                    </div>

                    <div class="button-block">
                        <a class='like-button'>
                            <span class='like-icon'>
                                <div class='heart-animation-1'></div>
                                <div class='heart-animation-2'></div>
                            </span>
                            J'aime
                        </a>
                        <button class="button btn-light">
                            <span class="fa fa-comments"></span>
                            Commenter
                        </button>
                    </div>
                </div>
                                <div class="article">
                    <div class="flex">
                        <div>
                            <div class="title">Titre</div>
                            <div class="date">lundi 01 octobre</div>
                        </div>
                        <div class="username violet">Léo</div>
                    </div>
                    <div class="content">
                        Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
                    </div>
                    <div class="img"></div>

                    <div class="sondage">
                        <div class="title">Le lait, avant ou après les céréales ?</div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox1"/>
                                <label for="checkbox1">
                                    Avant
                                    <span class="votes violet">+ 0</span>
                                </label>
                            </div>
                        </div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox2"/>
                                <label for="checkbox2">
                                    Apres
                                    <span class="votes violet">+ 5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="like">
                        <span class="fa fa-heart"></span>
                        12
                    </div>

                    <div class="button-block">
                        <a class='like-button'>
                            <span class='like-icon'>
                                <div class='heart-animation-1'></div>
                                <div class='heart-animation-2'></div>
                            </span>
                            J'aime
                        </a>
                        <button class="button btn-light">
                            <span class="fa fa-comments"></span>
                            Commenter
                        </button>
                    </div>
                </div>
                                <div class="article">
                    <div class="flex">
                        <div>
                            <div class="title">Titre</div>
                            <div class="date">lundi 01 octobre</div>
                        </div>
                        <div class="username violet">Léo</div>
                    </div>
                    <div class="content">
                        Mox dicta finierat, multitudo omnis ad, quae imperator voluit, promptior laudato consilio consensit in pacem ea ratione maxime percita, quod norat expeditionibus crebris fortunam eius in malis tantum civilibus vigilasse, cum autem bella moverentur externa, accidisse plerumque luctuosa, icto post haec foedere gentium ritu perfectaque sollemnitate imperator Mediolanum ad hiberna discessit.
                    </div>
                    <div class="img"></div>

                    <div class="sondage">
                        <div class="title">Le lait, avant ou après les céréales ?</div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox1"/>
                                <label for="checkbox1">
                                    Avant
                                    <span class="votes violet">+ 0</span>
                                </label>
                            </div>
                        </div>
                        <div class="option funkyradio">
                            <div class="funkyradio-default">
                                <input type="checkbox" name="checkbox" id="checkbox2"/>
                                <label for="checkbox2">
                                    Apres
                                    <span class="votes violet">+ 5</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="separator"></div>

                    <div class="like">
                        <span class="fa fa-heart"></span>
                        12
                    </div>

                    <div class="button-block">
                        <a class='like-button'>
                            <span class='like-icon'>
                                <div class='heart-animation-1'></div>
                                <div class='heart-animation-2'></div>
                            </span>
                            J'aime
                        </a>
                        <button class="button btn-light">
                            <span class="fa fa-comments"></span>
                            Commenter
                        </button>
                    </div>
                </div>
            </span>
        </div>
        <div class="timeline"></div>
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (function ($) {
            $.jInvertScroll(['.scroll']);
        }(jQuery));

        $(document).ready(function () {
            $('html, body').animate({
                scrollTop: 0
            }, 200);
        });

        // $(".starfield").starscroll(bit-mode,layers,stars,dimension,speed,colour,varience,animate);

        /**
            * like
            */
        $('a.like-button').on('click', function () {
            $(this).toggleClass('liked');
            var like = $(this).parents('.article').find('.like');
            var likes = parseInt(like.text());
            var diff = 1;
            if ($(this).hasClass('liked')) {
                likes += 1;
                like.html('<span class="fa fa-heart violet"></span> ' + likes);
            } else {
                likes -= 1;
                diff = -1;
                like.html('<span class="fa fa-heart"></span> ' + likes);
            }
            /*
                $.ajax({
                    url: "{{ path( 'add_like', {id : '1'}) }}",
                    type: "POST",
                    dataType: "text",
                    data: {
                        "diff": diff,
                    },
                    success: function (resp) {}
                });
                */
        });

        /**
            * vote
            */
        $('.sondage .option input').on('click', function () {
            var vote = $(this).parents('.option').find('.votes');
            var votes = parseInt(vote.text().replace(/[^\d.]/g, ''));
            var diff = 1;
            if ($(this).is(':checked')) {
                votes += 1;
                vote.text('+ ' + votes);
            } else {
                votes -= 1;
                diff = -1;
                vote.text('+ ' + votes);
            }
            /*
                $.ajax({
                    url: "{{ path( 'add_vote', {id : '1'}) }}",
                    type: "POST",
                    dataType: "text",
                    data: {
                        "diff": diff,
                    },
                    success: function (resp) {}
                });
                */
        });
    </script>
    <script src="{{ asset('js/starscroll.js') }}"></script>
    <script src="{{ asset('js/controls.js') }}"></script>
{% endblock %}