/*
 * CSS 
 */

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Italic.ttf');
    font-style: italic;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    overflow: auto;
    background-image: radial-gradient(rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05));
    background: -webkit-radial-gradient(circle, rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05)) #111;
    background-image: -moz-radial-gradient(50% 50%, circle, rgba(96, 0, 255, 0.25) 50%, rgba(96, 0, 255, 0.05) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #383838;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

body::-webkit-scrollbar {
    display: none;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:focus, textarea:focus, input:focus {
    outline: none !important;
}

@keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.box-shadow {
    -moz-box-shadow: 2px 2px 10px 0px #656565;
    -webkit-box-shadow: 2px 2px 10px 0px #656565;
    -o-box-shadow: 2px 2px 10px 0px #656565;
    box-shadow: 2px 2px 10px 0px #656565;
}

.wrapper {
    height: 100%;
    min-width: 100%;
    float: left;
}

/* Menu
================= */

.title {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 35px;
    font-weight: 700;
    font-size: 32px;
    color: palevioletred;
}

.menu {
    position: fixed;
    cursor: default;
    top: 0;
    width: 100%;
    margin: 20px 0;
}

.menu>li {
    display: block;
    margin: 0 15px;
}

.menu>li>a {
    cursor: pointer;
}

.glyphicon-ring {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    color: white;
    display: inline-table;
    text-align: center;
}

.glyphicon-ring .glyphicon-bordered {
    font-size: 20px;
    top: 0px;
    left: 0px;
    vertical-align: middle;
    display: table-cell;
}

.glyphicon-white {
    background: palevioletred;
    color: #00000080;
    border: 4px solid #00000080;
    -webkit-text-stroke: 0.5px black;
}

.menu>li:hover .glyphicon-white {
    border-color: white;
    color: white;
    -webkit-text-stroke: 0.5px white;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.username {
    background: palevioletred;
    border: 4px solid #00000080;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 6px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
}

.user:hover .username {
    visibility: visible;
    opacity: 1;
}

/* Index
================= */

.content {
    cursor: grab;
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.manual {
    min-width: 100%;
    height: 90%;
    /* zoom: 2; */
    /* display: none; */
    /* white-space: nowrap; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual .stuff {
    width: 500px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    /* display: inline-block; */
    flex: 0 0 auto;
}

.zerg {
    background-image: url("../gfx/1.png");
}

.mode {
    width: 370px;
    left: 50%;
    margin-left: -190px;
    position: fixed;
    bottom: 120px;
    zoom: 1;
}

.mode:before, .mode:after {
    content: "";
    display: table
}

.mode:after {
    clear: both
}

.mode div {
    display: inline-block;
    color: #ad85fc;
    width: 120px;
    text-align: center
}

.mode div:hover {
    background: #0ff;
    cursor: pointer
}

.mode div.selected {
    text-decoration: underline
}

/* Button
================= */

.button {
    color: #000;
    background: #ffffff;
    width: 100%;
    padding: 10px 5px;
    border: #ffffff 1px solid;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.button:hover {
    color: #fff;
    background: transparent;
    border: #ffffff 1px solid;
}

/* Login / Register
================= */

.login-wrapper {
    color: #fff;
    margin-top: 5%;
}

.login-wrapper .submit-btn {
    margin: 30px 10px 10px 10px;
}

.login-wrapper .form-check label {
    width: 100%;
}

.login-wrapper .cbx {
    margin: 15px 0px 0px 10px;
}

.login-wrapper .login-header {
    color: #fff;
    margin: 30px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.login-wrapper .login-form {
    width: 50%;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #00000050;
}

.login-wrapper p {
    margin: 10px 10px;
}

.login-wrapper a {
    color: palevioletred;
}

.form-row {
    margin: 20px 10px;
}

.form-row input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: palevioletred 1px solid;
}

.form-row .form-control-feedback {
    color: dimgray;
    line-height: 35px;
}

.form-group .help-block {
    margin: 10px;
}

.form-row .form-control {
    border-radius: 0;
    color: #fff;
}

.form-row .form-control:focus {
    border: none;
    border-bottom: palevioletred 1px solid;
    box-shadow: none;
}

/* Check-Box
================= */

.checkbox {
    display: grid;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: palevioletred;
    margin: 0;
}

.checkbox label {
    padding: 0;
}

.cbx {
    /* margin: auto; */
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    top: -1px;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: palevioletred;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: palevioletred;
}

.inp-cbx:checked+.cbx span:first-child {
    background: palevioletred;
    border-color: palevioletred;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

/* Flashbag
================= */

.alert {
    padding: 20px;
    opacity: 0.9;
    transition: opacity 0.7s;
    margin-bottom: 15px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 10px;
}

.closebtn {
    margin-left: 15px;
    color: inherit;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}