/*
 * CSS 
 */

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url('../font/Montserrat-Italic.ttf');
    font-style: italic;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    background-image: radial-gradient(rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05));
    background: -webkit-radial-gradient(circle, rgba(96, 0, 255, 0.25), rgba(96, 0, 255, 0.05)) #111;
    background-image: -moz-radial-gradient(50% 50%, circle, rgba(96, 0, 255, 0.25) 50%, rgba(96, 0, 255, 0.05) 100%);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

body {
    height: 100%;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    color: #383838;
    background-color: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

a, a:hover, a:link, a:visited {
    text-decoration: none;
}

button:focus, textarea:focus, input:focus {
    outline: none !important;
}

@keyframes autofill {
    to {
        color: #fff;
        background: transparent;
    }
}

input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

.box-shadow {
    -moz-box-shadow: 2px 2px 10px 0px #656565;
    -webkit-box-shadow: 2px 2px 10px 0px #656565;
    -o-box-shadow: 2px 2px 10px 0px #656565;
    box-shadow: 2px 2px 10px 0px #656565;
}

.wrapper {
    height: 100%;
    min-width: 100%;
    float: left;
}

.violet {
    color: palevioletred;
}

/* Menu
================= */

.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
    background: palevioletred;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 80px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked+.menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked+.menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked+.menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: fixed;
    left: 70px;
    top: 10px;
    margin-left: -80px;
    padding-top: 20px;
    padding-left: 80px;
    width: 650px;
    height: 150px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:focus {
    color: white;
    background-color: palevioletred;
}

.menu-item:hover {
    background-color: white;
    color: palevioletred;
}

.menu-item:nth-child(3) {
    transition-duration: 180ms;
}

.menu-item:nth-child(4) {
    transition-duration: 180ms;
}

.menu-item:nth-child(5) {
    transition-duration: 180ms;
}

.menu-item:nth-child(6) {
    transition-duration: 180ms;
}

.menu-open-button {
    z-index: 2;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked+.menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked~.menu-item {
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.menu-open:checked~.menu-item:nth-child(3) {
    transition-duration: 190ms;
    -webkit-transform: translate3d(110px, 0, 0);
    transform: translate3d(110px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(4) {
    transition-duration: 290ms;
    -webkit-transform: translate3d(220px, 0, 0);
    transform: translate3d(220px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(5) {
    transition-duration: 390ms;
    -webkit-transform: translate3d(330px, 0, 0);
    transform: translate3d(330px, 0, 0);
}

.menu-open:checked~.menu-item:nth-child(6) {
    transition-duration: 490ms;
    -webkit-transform: translate3d(440px, 0, 0);
    transform: translate3d(440px, 0, 0);
}

.logo {
    position: fixed;
    top: 25px;
    right: 25px;
    background: transparent url("../gfx/logo-white.png") no-repeat center;
    background-size: contain;
    height: 100px;
    width: 250px;
}

/* Index
================= */

.wrapper {
    height: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.manual {
    z-index: 50;
    top: 200px;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.manual>span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.manual .article {
    flex-shrink: 0;
    width: calc(100vw - 5rem);
    max-width: 500px;
    margin: 0 5%;
    cursor: default;
    perspective: 1250px;
    transition: transform .8s ease;
    background-color: #00000075;
    padding: 20px 30px;
    color: white;
}

.article:nth-child(2n+2) {
    transform: translateY(10%);
}

.article:nth-child(3n+3) {
    transform: translateY(-5%);
}

.article .flex {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.article .title {
    font-size: 16px;
}

.article .date {
    color: palevioletred;
    font-size: 10px;
}

.article .content {
    margin: 10px 0;
}

.article .separator {
    margin: 10px 0;
    border-top: 1px solid palevioletred;
}

.sondage {
    padding-top: 10px;
    border-top: 1px solid palevioletred;
}

.sondage .title {
    margin-bottom: 10px;
}

.sondage .votes {
    float: right;
    margin-right: 10px;
}

.article-animation {
    background: #ee3124;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 2;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -ms-transform: scale(0);
    transform: scale(0);
    transition: background-color 5ms linear .55s;
}

.mode {
    z-index: 100;
    width: 370px;
    left: 50%;
    margin-left: -190px;
    position: fixed;
    bottom: 120px;
    zoom: 1;
}

.mode:before, .mode:after {
    content: "";
    display: table
}

.mode:after {
    clear: both
}

.mode div {
    display: inline-block;
    color: #ad85fc;
    width: 120px;
    text-align: center
}

.mode div:hover {
    background: #0ff;
    cursor: pointer
}

.mode div.selected {
    text-decoration: underline
}

/* Button
================= */

.button {
    color: #000;
    background: #ffffff;
    width: 100%;
    padding: 10px 5px;
    border: #ffffff 2px solid;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.button:hover {
    color: #fff;
    background: transparent;
    border-color: #ffffff;
}

.button-block {
    margin: 10px -10px;
    display: flex;
    flex-flow: row;
}

.btn-light {
    margin: 0 10px;
    background-color: transparent;
    border-color: #c7c7c7;
    color: white;
}

.btn-light:hover {
    border-color: #878787;
    color: #878787;
}

.button-default {
    color: white;
    background: palevioletred;
    border-color: palevioletred;
}

.button-default:hover {
    color: palevioletred;
    background: transparent;
    border-color: palevioletred;
}


.button-danger {
    color: red;
    background: transparent;
    border-color: red;
}

.button-danger:hover {
    color: white;
    background: red;
    border-color: red;
}


/* Login / Register / Article
================= */

.login-wrapper,.article-wrapper {
    color: #fff;
    margin-top: 5%;
}

.article-form {
    text-align: center;
}

.article-wrapper .submit-btn {
    margin: 30px auto 10px auto;
    width: 60%;
    border-radius: 50px;
}

.login-wrapper .submit-btn {
    margin: 30px 10px 10px 10px;
    border-radius: 50px;
}

.login-wrapper .form-check label {
    width: 100%;
}

.login-wrapper .cbx {
    margin: 15px 0px 0px 10px;
}

.login-wrapper .login-header, .article-wrapper .article-header {
    color: #fff;
    margin: 30px 0;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.login-wrapper .login-form, .article-wrapper .article-form {
    width: 50%;
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #00000050;
}

.article-wrapper .article-form {
    max-width: 800px;
}

.login-wrapper p {
    margin: 10px 10px;
}

.login-wrapper a {
    color: palevioletred;
}

.form-row {
    margin: 20px 10px;
}

.login-wrapper input, .login-wrapper textarea, .article-wrapper input, .article-wrapper textarea {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: palevioletred 1px solid;
}

.login-wrapper input::placeholder, .login-wrapper textarea::placeholder, .article-wrapper input::placeholder, .article-wrapper textarea::placeholder {
    color: dimgray;
}

.article-wrapper input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: palevioletred 1px solid;
}

.form-row .form-control-feedback {
    color: dimgray;
    line-height: 35px;
}

.form-group .help-block {
    margin: 10px;
}

.form-row .form-control {
    border-radius: 0;
    color: #fff;
}

.form-row .form-control:focus {
    border: none;
    border-bottom: palevioletred 1px solid;
    box-shadow: none;
}

.sondage-row {
    text-align: left;
    display: flex;
    cursor: pointer;
}

.sondage-row .btn-round {
    display: inline-block;
    position: relative;
    background-color: palevioletred;
    color: white;
    height: 45px;
    width: 45px;
    font-size: 18px;
    border: 2px solid palevioletred;
    border-radius: 50%;
}

.sondage-row>p {
    display: inline-block;
    margin: auto 10px;
    color: white;
    top: 0;
}

.sondage-row .btn-round i {
    position: absolute;
    top: 13px;
    left: 13px;
}

.sondage-row:hover .btn-round {
    background-color: transparent;
}

/* Upload
================= */

#upload {
    text-align: left;
    width: 100%;
    padding: 15px 30px;
    border-radius: 3px;
    margin: 0px auto;
}

#drop {
    padding: 40px 50px;
    margin-bottom: 30px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../gfx/border-image.png') 25 repeat;
    text-align: center;
    color: dimgray;
}

#drop a {
    background-color: palevioletred;
    border: palevioletred 2px solid;
    padding: 12px 26px;
    color: #fff;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    line-height: 1;
    border-radius: 50px;
    width: 60%;
    margin: 10px auto;
}

#drop a:hover {
    background-color: transparent;
}

#drop input {
    display: none;
}

#upload ul {
    list-style: none;
    margin: 0 -30px;
    border-top: 1px solid palevioletred;
    border-bottom: 1px solid palevioletred;
}

#upload ul li {
    border-top: 1px solid palevioletred;
    border-bottom: 1px solid palevioletred;
    height: 62px;
    position: relative;
}

#upload ul li input {
    display: none;
}

#upload ul li p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #EEE;
    font-weight: bold;
    position: absolute;
    top: 11px;
    left: 100px;
    width: 63%;
}

#upload ul li i {
    font-weight: normal;
    font-style: normal;
    color: #7f7f7f;
    display: block;
}

#upload ul li canvas {
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span {
    width: 15px;
    height: 16px;
    background: url('../gfx/icons.png') no-repeat;
    background-position: 0 -12px;
    position: absolute;
    top: 22px;
    right: 32px;
    cursor: pointer;
}

#upload ul li.working span {
    background-position: 0 3px;
}

#upload ul li.error span {
    background-position: 0 -12px;
}

#upload ul li.error p {
    color: red;
}

/* Modal
================= */

.modal-header, .modal h4, .modal .close {
    background-color: palevioletred;
    color: white !important;
    text-align: center;
    font-size: 30px;
}

.modal-header {
    padding: 35px 50px;
}

.modal-lg {
    width: 85%;
}

.modal-md {
    width: 70%;
}

.modal-footer {
    background-color: #f9f9f9;
}

.modal-footer, .modal-header {
    border-radius: 5px;
}

.modal .btn-block-md {
    width: 49.5%;
}

.modal p {
    font-size: 18px;
}

/* Check-Box
================= */

.checkbox {
    display: grid;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: palevioletred;
    margin: 0;
}

.checkbox label {
    padding: 0;
}

.cbx {
    /* margin: auto; */
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    top: -1px;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: palevioletred;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
}

.cbx:hover span:first-child {
    border-color: palevioletred;
}

.inp-cbx:checked+.cbx span:first-child {
    background: palevioletred;
    border-color: palevioletred;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

/* Flashbag
================= */

.alert {
    padding: 20px;
    opacity: 0.9;
    transition: opacity 0.7s;
    margin-bottom: 15px;
    position: fixed;
    right: 0;
    z-index: 10;
    margin: 10px;
}

.closebtn {
    margin-left: 15px;
    color: inherit;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

/* Loader
================= */

.loader {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 24px;
    /* border-top: 8px solid palevioletred;
    border-bottom: 8px solid palevioletred; */
    overflow: hidden;
}

.loader .ball {
    position: absolute;
    width: 8px;
    height: 0;
    background: palevioletred;
    margin: 0;
}

.loader .ball:nth-child(1) {
    -webkit-animation: ball 2s ease-in-out infinite;
    animation: ball 2s ease-in-out infinite;
    left: 0;
}

.loader .ball:nth-child(2) {
    -webkit-animation: ball 2s ease-in-out .1s infinite;
    animation: ball 2s ease-in-out .1s infinite;
    left: 8px;
}

.loader .ball:nth-child(3) {
    -webkit-animation: ball 2s ease-in-out .2s infinite;
    animation: ball 2s ease-in-out .2s infinite;
    left: 16px;
}

@-webkit-keyframes ball {
    0% {
        top: 0;
        height: 0;
    }
    25% {
        top: 0;
        height: 100vh;
    }
    50% {
        top: 100vh;
        height: 0;
    }
    75% {
        top: 0;
        height: 100vh;
    }
    100% {
        top: 0;
        height: 0;
    }
}

@keyframes ball {
    0% {
        top: 0;
        height: 0;
    }
    25% {
        top: 0;
        height: 100vh;
    }
    50% {
        top: 100vh;
        height: 0;
    }
    75% {
        top: 0;
        height: 100vh;
    }
    100% {
        top: 0;
        height: 0;
    }
}

/* .loader {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.loader:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent palevioletred transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} */

/* Radio / Checkbox
================= */

.funkyradio div {
    clear: both;
    overflow: hidden;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
}

.funkyradio input[type="radio"]:empty, .funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="radio"]:empty~label, .funkyradio input[type="checkbox"]:empty~label {
    position: relative;
    line-height: 2.5em;
    text-indent: 3.25em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.funkyradio input[type="radio"]:empty~label:before, .funkyradio input[type="checkbox"]:empty~label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
    border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label, .funkyradio input[type="checkbox"]:hover:not(:checked)~label {
    color: #888;
}

.funkyradio input[type="radio"]:hover:not(:checked)~label:before, .funkyradio input[type="checkbox"]:hover:not(:checked)~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked~label, .funkyradio input[type="checkbox"]:checked~label {
    color: #777;
}

.funkyradio input[type="radio"]:checked~label:before, .funkyradio input[type="checkbox"]:checked~label:before {
    content: '\2714';
    text-indent: .9em;
    color: #333;
    background-color: #ccc;
}

.funkyradio input[type="radio"]:focus~label:before, .funkyradio input[type="checkbox"]:focus~label:before {
    box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked~label:before, .funkyradio-default input[type="checkbox"]:checked~label:before {
    color: black;
    background-color: palevioletred;
}

/* Like
================= */

.like-button {
    width: 100%;
    margin: 0 10px;
    border: 2px solid #c7c7c7;
    padding: .45rem .75rem;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.like-button.liked {
    color: palevioletred;
    border-color: palevioletred;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.like-button:hover {
    color: #878787;
    border-color: #878787;
}

.like-button.liked:hover {
    color: palevioletred;
    border-color: palevioletred;
}

.like-icon {
    width: 18px;
    height: 16px;
    display: inline-block;
    position: relative;
    margin-right: .25em;
    font-size: 1.5rem;
    background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="%23FF6E6F" fill-rule="evenodd"/></svg>') no-repeat center;
    background-size: 100%;
    -webkit-animation: heartUnlike 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartUnlike 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon {
    -webkit-animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartPulse 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon [class^="heart-animation-"] {
    background: url('data:image/svg+xml;utf8,<svg width="21" height="18" viewBox="0 0 21 18" xmlns="http://www.w3.org/2000/svg"><title>heart-colored</title><path d="M10.101 4.417S8.895.207 5.111.207c-4.465 0-10.967 6.846 5.082 17.592C25.237 7.03 19.665.202 15.501.202c-4.162 0-5.4 4.215-5.4 4.215z" fill="%23FF6E6F" fill-rule="evenodd"/></svg>') no-repeat center;
    background-size: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 14px;
    opacity: 0;
}

.liked .like-icon [class^="heart-animation-"]::before, .liked .like-icon [class^="heart-animation-"]::after {
    content: '';
    background: inherit;
    background-size: 100%;
    width: inherit;
    height: inherit;
    display: inherit;
    position: relative;
    top: inherit;
    left: inherit;
    opacity: 0;
}

.liked .like-icon .heart-animation-1 {
    -webkit-animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatMain-1 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon .heart-animation-1::before, .liked .like-icon .heart-animation-1::after {
    width: 12px;
    height: 10px;
    visibility: hidden;
}

.liked .like-icon .heart-animation-1::before {
    opacity: .6;
    -webkit-animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-1 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon .heart-animation-1::after {
    -webkit-animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-2 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .75;
}

.liked .like-icon .heart-animation-2 {
    -webkit-animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatMain-2 1s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.liked .like-icon .heart-animation-2::before, .liked .like-icon .heart-animation-2::after {
    width: 10px;
    height: 8px;
    visibility: hidden;
}

.liked .like-icon .heart-animation-2::before {
    -webkit-animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-3 1s 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .25;
}

.liked .like-icon .heart-animation-2::after {
    -webkit-animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    animation: heartFloatSub-4 1s 0.15s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
    opacity: .4;
}

@-webkit-keyframes heartPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@keyframes heartPulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }
}

@-webkit-keyframes heartUnlike {
    50% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@keyframes heartUnlike {
    50% {
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@-webkit-keyframes heartFloatMain-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, -25px) rotate(-20deg);
        transform: translate(0, -25px) rotate(-20deg);
    }
}

@keyframes heartFloatMain-1 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        opacity: 1;
        -webkit-transform: translate(0, -25px) rotate(-20deg);
        transform: translate(0, -25px) rotate(-20deg);
    }
}

@-webkit-keyframes heartFloatMain-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) rotate(0) scale(0);
        transform: translate(0) rotate(0) scale(0);
    }
    50% {
        opacity: .9;
        -webkit-transform: translate(-10px, -38px) rotate(25deg) scale(1);
        transform: translate(-10px, -38px) rotate(25deg) scale(1);
    }
}

@keyframes heartFloatMain-2 {
    0% {
        opacity: 0;
        -webkit-transform: translate(0) rotate(0) scale(0);
        transform: translate(0) rotate(0) scale(0);
    }
    50% {
        opacity: .9;
        -webkit-transform: translate(-10px, -38px) rotate(25deg) scale(1);
        transform: translate(-10px, -38px) rotate(25deg) scale(1);
    }
}

@-webkit-keyframes heartFloatSub-1 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(13px, -13px) rotate(30deg);
        transform: translate(13px, -13px) rotate(30deg);
    }
}

@keyframes heartFloatSub-1 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(13px, -13px) rotate(30deg);
        transform: translate(13px, -13px) rotate(30deg);
    }
}

@-webkit-keyframes heartFloatSub-2 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(18px, -10px) rotate(55deg);
        transform: translate(18px, -10px) rotate(55deg);
    }
}

@keyframes heartFloatSub-2 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(18px, -10px) rotate(55deg);
        transform: translate(18px, -10px) rotate(55deg);
    }
}

@-webkit-keyframes heartFloatSub-3 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(-10px, -10px) rotate(-40deg);
        transform: translate(-10px, -10px) rotate(-40deg);
    }
    100% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0);
    }
}

@keyframes heartFloatSub-3 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(-10px, -10px) rotate(-40deg);
        transform: translate(-10px, -10px) rotate(-40deg);
    }
    100% {
        -webkit-transform: translate(-50px, 0);
        transform: translate(-50px, 0);
    }
}

@-webkit-keyframes heartFloatSub-4 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(2px, -18px) rotate(-25deg);
        transform: translate(2px, -18px) rotate(-25deg);
    }
}

@keyframes heartFloatSub-4 {
    0% {
        visibility: hidden;
        -webkit-transform: translate(0) rotate(0);
        transform: translate(0) rotate(0);
    }
    50% {
        visibility: visible;
        -webkit-transform: translate(2px, -18px) rotate(-25deg);
        transform: translate(2px, -18px) rotate(-25deg);
    }
}